{% extends 'main.html' %}

{% block content %}
<!--размеры окон 1/4 и 3/4-->
<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<div class="home-container">
    <div>
        {% include 'base/topic_component.html' %} <!--добавляется значение страницы topic_component.html по адресу 'base/topic_component.html'-->
    </div>
    <div>
       {% include 'base/feed_component.html' %}
    </div>
    <div>
       {% include 'base/activity_component.html' %}
    </div>
</div>
{% endblock content%}
